<section class="my-6">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <!-- Heading -->
        <h1 class="mb-5">My Account</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <!-- Nav -->
        <nav class="mb-4 mb-md-0">
          <!-- Mobile Menu Button with Selected Item -->
          <div
            class="d-flex align-items-center justify-content-between d-md-none"
          >
            <button
              class="btn btn-outline-dark d-md-none mb-2 me-2"
              type="button"
              (click)="toggleMenu()"
            >
              <mat-icon class="material-symbols-outlined"> menu </mat-icon>
              Menu
            </button>
            <span *ngIf="selectedItem" class="fw-bold">{{ selectedItem }}</span>
          </div>

          <div [class.collapse]="!isMenuOpen" class="d-md-block">
            <div
              class="list-group list-group-sm list-group-strong list-group-flush-x"
            >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="account-orders"
                routerLinkActive="active"
                (click)="selectMenuItem('Orders')"
                >Orders</a
              >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="account-wishlist"
                routerLinkActive="active"
                (click)="selectMenuItem('Wishlist')"
                >Wishlist</a
              >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="account-personal-info"
                routerLinkActive="active"
                (click)="selectMenuItem('Personal Info')"
                >Personal Info</a
              >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="account-address"
                routerLinkActive="active"
                (click)="selectMenuItem('Addresses')"
                >Addresses</a
              >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="account-payment"
                routerLinkActive="active"
                (click)="selectMenuItem('Payment Methods')"
                >Payment Methods</a
              >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                (click)="onLogout()"
                >Logout</a
              >
            </div>
          </div>
        </nav>
      </div>
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
