<!-- PRODUCT -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <!-- Left Column: Product Images -->
          <div class="col-12 col-md-6">
            <div class="card">
              <!-- Main Slider -->
              <div class="swiper main-slider">
                <div class="swiper-wrapper">
                  <div
                    *ngFor="let image of productImages"
                    class="swiper-slide h-auto"
                  >
                    <img [src]="image" class="img-fluid" alt="Product Image" />
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>

            <div class="mx-n2 mb-10 mb-md-0 mt-2">
              <!-- Thumbnail Slider -->
              <div class="swiper thumbnail-slider">
                <div class="swiper-wrapper">
                  <div *ngFor="let image of productImages" class="swiper-slide">
                    <img
                      [src]="image"
                      class="img-thumbnail"
                      alt="Thumbnail Image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Column: Product Details -->
          <div class="col-12 col-md-6 ps-lg-10">
            <!-- Header -->
            <div class="row mb-4">
              <div class="col">
                <a routerLink="/shop" class="text-muted">{{
                  product?.category?.name
                }}</a>
              </div>
              <div class="col-auto d-flex align-items-center">
                <!-- Rating -->
                <div class="rating fs-xs text-dark">
                  <div class="rating-item">
                    <mat-icon> star </mat-icon>
                  </div>
                  <div class="rating-item"><mat-icon> star </mat-icon></div>
                  <div class="rating-item"><mat-icon> star </mat-icon></div>
                  <div class="rating-item"><mat-icon> star </mat-icon></div>
                  <div class="rating-item"><mat-icon> star </mat-icon></div>
                </div>
                <a routerLink="/reviews" class="fs-sm text-reset ms-3">
                  Reviews ({{ product?.numReviews }})</a
                >
              </div>
            </div>
            <!-- Heading -->
            <h1 class="mb-4">{{ product?.name }}</h1>
            <!-- Price -->
            <div class="mb-lg-5 mb-md-3 d-flex align-items-center">
              <h2 class="ms-1 fw-bolder text-primary">
                {{ product?.price | currency }}
              </h2>
              <span class="fs-sm ms-1">( In stock: {{ product?.stock }})</span>
            </div>
            <!-- Description -->
            <div class="mb-5">
              <p class="text-muted">{{ product?.description }}</p>
            </div>

            <!-- Form -->
            <form>
              <div class="form-group">
                <div class="row mt-lg-5">
                  <div class="col-12 col-lg-auto">
                    <!-- Quantity -->
                    <select class="form-select mb-2">
                      <!--! implement product stock -->
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="col-12 col-lg">
                    <!-- Submit -->
                    <button type="submit" class="button-nav-dark w-100 mb-2">
                      Add to Cart
                      <span class="material-symbols-outlined">
                        <mat-icon>shopping_cart</mat-icon>
                      </span>
                    </button>
                  </div>
                  <div class="col-12 col-lg-auto">
                    <!-- WishList -->
                    <button class="button-nav w-100 mb-2 mt-md-1 mt-xl-0">
                      WishList
                      <span class="material-symbols-outlined">
                        <mat-icon>favorite</mat-icon>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!-- Additional Details -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DESCRIPTION -->
<section class="descriptions">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Tabs -->
        <mat-tab-group>
          <mat-tab label="Description"
            ><div class="row justify-content-center py-5 mx-0">
              <div class="col-12 col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-12">
                    <!-- Text -->
                    <p class="text-gray-500">
                      {{ product?.description }}
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- List -->
                    <ul class="list list-unstyled mb-md-0 text-gray-500">
                      <li><strong class="text-body">SKU</strong>: #61590437</li>
                      <li>
                        <strong class="text-body">Occasion</strong>: Lifestyle,
                        Sport
                      </li>
                      <li><strong class="text-body">Country</strong>: Italy</li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- List -->
                    <ul class="list list-unstyled mb-0">
                      <li>
                        <strong>Outer</strong>: Leather 100%, Polyamide 100%
                      </li>
                      <li><strong>Lining</strong>: Polyester 100%</li>
                      <li><strong>CounSoletry</strong>: Rubber 100%</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div></mat-tab
          >
          <mat-tab label="Size & Fit"> </mat-tab>
          <mat-tab label="Shipping & Return" class="overflow-hidden">
            <div class="row justify-content-center py-5 mx-0">
              <div class="col-12 col-lg-10 col-xl-8">
                <!-- Table -->
                <div class="table-responsive">
                  <table class="table table-bordered table-sm table-hover">
                    <thead>
                      <tr>
                        <th>Shipping Options</th>
                        <th>Delivery Time</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Standard Shipping</td>
                        <td>Delivery in 5 - 7 working days</td>
                        <td>$8.00</td>
                      </tr>
                      <tr>
                        <td>Express Shipping</td>
                        <td>Delivery in 3 - 5 working days</td>
                        <td>$12.00</td>
                      </tr>
                      <tr>
                        <td>1 - 2 day Shipping</td>
                        <td>Delivery in 1 - 2 working days</td>
                        <td>$12.00</td>
                      </tr>
                      <tr>
                        <td>Free Shipping</td>
                        <td>
                          Living won't the He one every subdue meat replenish
                          face was you morning firmament darkness.
                        </td>
                        <td>$0.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Caption -->
                <p class="mb-0 text-gray-500">
                  May, life blessed night so creature likeness their, for.
                  <a
                    class="text-body text-decoration-underline docs-creator"
                    href="#!"
                    >Find out more</a
                  >
                </p>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
<!-- YOU MAY ALSO LIKE -->
<app-related-products
  [relatedProducts]="relatedProducts"
></app-related-products>
<!-- FEATURES -->
<app-features></app-features>
