.mdc-text-field {
    border-radius: unset !important;
}

button {
    color: #000 !important;
    align-items: center;
}

.mdc-button {
    border: 0.125rem solid !important;
    font-family: inherit;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border: 0.125rem solid !important;
}

.no-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    width: 75%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.media {
    
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-products-image {
    width: 100%;
    opacity: 0.8;
    border-radius: 8px;
}

.no-products-container p {
    color: #6c757d;
    /* Bootstrap muted text */
    font-size: 16px;
}




