.mdc-text-field {
    border-radius: unset !important;
}

button {
    color: #000 !important;
    align-items: center;
}

.mdc-button {
    border: 0.125rem solid !important;
    font-family: inherit;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border: 0.125rem solid !important;
}




