.paginator {
    background-color: #fff;
    font-family: inherit;
}

button {
    color: #000 !important;
}

.search-input {
    padding: 0.4rem;
    border: 1px solid #74777f;
    border-radius: 8px;
}

.search-icon {
    position: absolute;
    display: flex;
    right: 10px;
    justify-content: center;
    align-items: center;
}