<div class="d-flex flex-column gap-3">
  <div
    class="d-flex flex-lg-row flex-md-column-reverse gap-md-3 justify-content-between align-items-center"
  >
    <mat-paginator
      class="paginator border-2"
      (page)="handlePageEvent($event)"
      [length]="totalProducts"
      [pageSize]="queryParams.limit"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 20, 30]"
      [pageIndex]="currentPage - 1"
      aria-label="Select page"
    ></mat-paginator>
    <div class="d-md-flex gap-3">
      <form
        #searchForm="ngForm"
        (ngSubmit)="onSearchPage()"
        class="d-flex"
        role="search"
      >
        <input
          type="search"
          class="form-control me-2 rounded-0 p-3 border-black border-2"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          [(ngModel)]="queryParams.searchTerm"
        />
        <button type="submit" class="button-nav border-2 gap-2">
          <span class="material-symbols-outlined d-flex"
            ><mat-icon>search</mat-icon></span
          >
          Search
        </button>
      </form>
      <div class="d-flex gap-3">
        <button mat-stroked-button (click)="openFiltersDialog()">
          <mat-icon>filter_list</mat-icon>
          Filters
        </button>
        <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
          <mat-icon>swap_vert</mat-icon>
          Sort
        </button>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      @for (product of products; track product._id) {
      <app-product-item [product]="product"></app-product-item>
      }
    </div>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="queryParams.sort === sort.value"
      >{{ sort.name }}</mat-list-option
    >
    }
  </mat-selection-list>
</mat-menu>
