<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/cover-3.jpg" class="d-block w-100" alt="Slide 1" />
      <div class="carousel-caption">
        <div class="container d-flex flex-column">
          <div
            class="row justify-content-lg-end justify-content-sm-center"
            style="min-height: 450px"
          >
            <div
              class="col-12 col-md-6 col-lg-5 col-xl-4 mx-lg-5 text-md-black text-sm-center text-lg-end pb-5"
            >
              <h1 class="mb-4">Summer Collection</h1>

              <p class="mb-5 fs-5 text-gray">
                So called give, one whales tree seas dry place own day, winged
                tree created spirit.
              </p>

              <a class="button-nav-dark" routerLink="/shop"> Shop Now </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/cover-tudor.jpg" class="d-block w-100" alt="Slide 2" />
      <div class="carousel-caption">
        <div class="container d-flex flex-column">
          <div class="row align-items-center py-5" style="min-height: 490px">
            <div class="col-md-4 text-gray-400">
              <h1>Summer Sale</h1>
              <h2 class="display-1 fw-bold text-primary">-70%</h2>
              <h5 class="mt-n4 mb-5">with promo code CN67EW*</h5>
              <a class="button-nav-dark" routerLink="/shop">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/cover-chanel.jpg" class="d-block w-100" alt="Slide 3" />
      <div class="carousel-caption">
        <div class="bg-dark-20">
          <div class="container d-flex flex-column">
            <div
              class="row align-items-center justify-content-end"
              style="min-height: 550px"
            >
              <div class="col-12 text-center text-white">
                <h1 class="mb-3">Summer Styles</h1>

                <h2 class="display-1 fw-bold">50% OFF</h2>

                <p class="mb-0">
                  <a
                    routerLink="/shop"
                    class="link-underline display-6 text-reset m-4"
                    >Shop Women</a
                  >
                  <a
                    href="/shop"
                    class="link-underline display-6 text-reset m-4"
                    >Shop Men</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--   slides = [
    {
      image: 'assets/cover-3.jpg',
      content: `
        <div class="container d-flex flex-column">
            <div class="row justify-content-end" style="min-height: 550px;">
              <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-lg-5 text-md-black text-sm-center text-lg-end pb-5">

            
                <h1 class="mb-4">Summer Collection</h1>

             
                <p class="mb-5 fs-5 text-gray">
                  So called give, one whales tree seas dry place own
                  day, winged tree created spirit.
                </p>

         
                <a class="button-nav-dark" href="/shop">
                  Shop Now
                </a>

              </div>
            </div>
          </div>
      `,
    },
    {
      image: 'assets/cover-tudor.jpg',
      content: `
        <div class='container d-flex flex-column'>
          <div class='row align-items-center py-5' style='min-height: 550px;'>
            <div class='col-12 col-md-6 col-lg-5 col-xl-4 text-black '>
              <h1>Summer Sale</h1>
              <h2 class='display-1 fs-lg fw-bold text-primary'>-70%</h2>
              <h5 class='mt-n4 mb-5'>with promo code CN67EW*</h5>
              <a class='button-nav-dark' href='/shop'>Shop Now</a>
            </div>
          </div>
        </div>
      `,
    },
    {
      image: 'assets/cover-chanel.jpg',
      content: `
        <div class="bg-dark-20">
            <div class="container d-flex flex-column">
              <div class="row align-items-center justify-content-end" style="min-height: 550px;">
                <div class="col-12 text-center text-white">

         
                  <h4 class="mb-0">Summer Styles</h4>

             
                  <h1 class="display-1">
                    50% OFF
                  </h1>

             
                  <p class="mb-0">
                    <a href="/shop" class="link-underline text-reset mx-5 my-5">Shop Women</a>
                    <a href="/shop" class="link-underline text-reset mx-5 my-5">Shop Men</a>
                  </p>

                </div>
              </div>
            </div>
          </div>
      `,
    },
  ];  -->
