<div class="row">
  <!-- Item -->
  <div class="col-6 col-md-4">
    <div class="card mb-7">
      <!-- Image -->
      <div class="card-img">
        <!-- Action -->
        <button
          class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
        >
          <i class="fe fe-x"></i>
        </button>

        <!-- Button -->
        <button
          class="btn btn-xs w-100 btn-dark card-btn"
          data-bs-toggle="modal"
          data-bs-target="#modalProduct"
        >
          <i class="fe fe-eye me-2 mb-1"></i> Quick View
        </button>

        <!-- Image -->
        <img
          class="card-img-top"
          src="assets/img/products/product-6.jpg"
          alt="..."
        />
      </div>

      <!-- Body -->
      <div class="card-body fw-bold text-center">
        <a class="text-body docs-creator" href="product.html"
          >Cotton floral print Dress</a
        >
        <br />
        <span class="text-muted">$40.00</span>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class="col-6 col-md-4">
    <div class="card mb-7">
      <!-- Image -->
      <div class="card-img">
        <!-- Action -->
        <button
          class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
        >
          <i class="fe fe-x"></i>
        </button>

        <!-- Badge -->
        <span class="badge bg-dark card-badge card-badge-start text-uppercase">
          Sale
        </span>

        <!-- Button -->
        <button
          class="btn btn-xs w-100 btn-dark card-btn"
          data-bs-toggle="modal"
          data-bs-target="#modalProduct"
        >
          <i class="fe fe-eye me-2 mb-1"></i> Quick View
        </button>

        <!-- Image -->
        <img
          class="card-img-top"
          src="assets/img/products/product-10.jpg"
          alt="..."
        />
      </div>

      <!-- Body -->
      <div class="card-body fw-bold text-center">
        <a class="text-body docs-creator" href="product.html"
          >Suede cross body Bag</a
        >
        <br />
        <span>
          <span class="fs-xs text-gray-350 text-decoration-line-through"
            >$85.00</span
          >
          <span class="text-primary">$49.00</span>
        </span>
      </div>
    </div>
  </div>
</div>
