<div class="row my-4">
  <div
    *ngIf="loading"
    class="spinner-border text-primary d-block mt-5"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  <ng-container *ngIf="wishlist.length > 0 && !loading; else noFavorites">
    <div class="col-6 col-md-4" *ngFor="let product of wishlist">
      <div class="card mb-4">
        <!-- Image -->
        <div class="card-img">
          <!-- Action -->
          <button
            (click)="removeFromWishlist(product._id)"
            class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
          >
            <span class="material-symbols-outlined">
              <mat-icon>close</mat-icon>
            </span>
          </button>

          <!-- Buttons -->
          <a
            class="btn btn-xs w-100 btn-dark card-btn"
            routerLink="/product/{{ product._id }}"
          >
            <span class="material-symbols-outlined">
              <mat-icon>visibility</mat-icon>
            </span>
            Quick View
          </a>

          <!-- Image -->
          <img
            class="card-img-top"
            src="{{ product.images[0] }}"
            alt="{{ product.name }}"
          />
        </div>

        <!-- Body -->
        <div class="card-body fw-bold text-center">
          <a class="text-body" [routerLink]="'/product/' + product._id">{{
            product.name
          }}</a>
          <br />
          <span class="text-muted">{{ product.price | currency }}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noFavorites>
    <div class="text-start mt-5" *ngIf="!loading">
      <h4>No favorites yet!</h4>
      <p class="text-muted">You haven't added any products to your wishlist.</p>
      <a routerLink="/shop" class="btn btn-sm btn-outline-dark"
        >Start Shopping</a
      >
    </div>
  </ng-template>
</div>
