<!-- Render the Edit/Add Address Form if in Edit Mode -->
<ng-container *ngIf="isEditMode">
  <h5 class="mb-4">Add Address</h5>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            formControlName="address"
            placeholder="Enter address"
          />
          <div
            *ngIf="
              addressForm.get('address')?.invalid &&
              addressForm.get('address')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="addressForm.get('address')?.errors?.['required']"
              >Address is required.</small
            >
            <small *ngIf="addressForm.get('address')?.errors?.['minLength']"
              >Address must be at least 10 characters.</small
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            formControlName="city"
            placeholder="Enter city"
          />
          <div
            *ngIf="
              addressForm.get('address')?.invalid &&
              addressForm.get('address')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="addressForm.get('city')?.errors?.['required']"
              >City is required.</small
            >
            <small *ngIf="addressForm.get('city')?.errors?.['minLength']"
              >City must be at least 4 characters.</small
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label class="form-label">Zip Code</label>
          <input
            type="text"
            class="form-control"
            formControlName="zipCode"
            placeholder="Enter zip code"
          />
          <div
            *ngIf="
              addressForm.get('zipCode')?.invalid &&
              addressForm.get('zipCode')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="addressForm.get('zipCode')?.errors?.['required']"
              >ZIP or Postcode is required.</small
            >
            <small *ngIf="addressForm.get('zipCode')?.errors?.['pattern']"
              >Please enter a valid ZIP or Postcode (5 digits)</small
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            formControlName="country"
            placeholder="Enter country"
          />
          <div
            *ngIf="
              addressForm.get('country')?.invalid &&
              addressForm.get('country')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="addressForm.get('country')?.errors?.['required']"
              >Please enter a valid Country.</small
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label class="form-label">Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="Enter phone number"
          />
          <div
            *ngIf="
              addressForm.get('phone')?.invalid &&
              addressForm.get('phone')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="addressForm.get('phone')?.errors?.['required']"
              >Phone number is required.</small
            >
            <small *ngIf="addressForm.get('phone')?.errors?.['pattern']"
              >Phone number must be 10-15 digits.</small
            >
          </div>
        </div>
      </div>

      <div class="col-12">
        <button
          class="btn btn-dark mt-3"
          type="submit"
          [disabled]="addressForm.invalid"
        >
          Save Address
        </button>
        <button
          class="btn btn-outline-secondary mt-3 ms-2"
          type="button"
          (click)="toggleEditMode()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</ng-container>

<!-- Render the Shipping Address Card if NOT in Edit Mode -->
<div class="row" *ngIf="!isEditMode">
  <div class="col-12 col-lg-6">
    <div class="card card-lg bg-light mb-5">
      <div class="card-body">
        <h4 class="mb-3">Shipping Address</h4>

        <!-- Display existing address -->
        <ng-container *ngIf="user?.shippingInfo; else noAddress">
          <p class="text-muted mb-0">
            {{ user?.shippingInfo?.address }} <br />
            {{ user?.shippingInfo?.zipCode }} {{ user?.shippingInfo?.city }}
            <br />
            {{ user?.shippingInfo?.country }} <br />
            {{ user?.phone }}
          </p>

          <!-- Actions -->
          <div class="card-action card-action-end">
            <button
              class="btn btn-xs btn-circle btn-white-primary"
              (click)="toggleEditMode()"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </ng-container>

        <!-- Placeholder for no address -->
        <ng-template #noAddress>
          <p class="text-muted">No shipping address added yet.</p>
          <a
            class="btn w-100 btn-lg btn-outline-border docs-creator"
            (click)="toggleEditMode()"
          >
            Add Address
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
