header {
    position: relative;
    background-color: #efedf0 !important;
    padding: 1.5rem !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    z-index: 3;
}

nav a {
    color: #000 !important;
    margin: 0 15px !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.button-nav.active {
    background-color: #1f1f1f !important;
    border-color: #1f1f1f !important;
    color: #fff !important;
}