<header class="bg-dark text-white p-3">
  <div class="container">
    <nav class="d-flex justify-content-between">
      <!-- Home Link -->
      <a
        class="text-white button-nav"
        routerLink="/home"
        routerLinkActive="active"
        >Home</a
      >
      <div *ngIf="!isLoading">
        <!-- Admin Links -->
        <ng-container *ngIf="currentUser?.isAdmin; else nonAdminLinks">
          <a
            class="text-white button-nav"
            routerLink="/admin/dashboard"
            routerLinkActive="active"
            >Admin Dashboard</a
          >
          <a class="text-white button-nav" (click)="onLogout()">Logout</a>
        </ng-container>

        <!-- Non-Admin (Regular User) Links -->
        <ng-template #nonAdminLinks>
          <ng-container *ngIf="currentUser; else guestLinks">
            <a
              class="text-white button-nav"
              routerLink="/profile"
              routerLinkActive="active"
              >Profile</a
            >
            <a class="text-white button-nav" (click)="onLogout()">Logout</a>
          </ng-container>
        </ng-template>

        <!-- Guest Links -->
        <ng-template #guestLinks>
          <a
            class="text-white button-nav"
            routerLink="/login"
            routerLinkActive="active"
            >Login</a
          >
          <a
            class="text-white button-nav"
            routerLink="/register"
            routerLinkActive="active"
            >Register</a
          >
        </ng-template>
      </div>
    </nav>
  </div>
</header>
<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
