<header class="bg-dark text-white p-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- Home Link -->
      <a class="navbar-brand order-2 order-lg-1 d-none d-sm-block" routerLink="/home">AuraLux.</a>

      <button
        class="navbar-toggler fs-6 order-3"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="offcanvas offcanvas-top flex-column flex-lg-row py-4 py-lg-0 order-2"
        id="navbarCollapse"
      >
        <!-- Nav -->

        <ul
          class="navbar-nav mx-auto gap-4 gap-lg-0 align-items-center"
          *ngIf="!isLoading"
        >
          <li>
            <a
              class="link-underline"
              routerLink="/home"
              routerLinkActive="active"
              data-bs-dismiss="offcanvas"
              >Home</a
            >
          </li>
          <li>
            <a
              class="link-underline"
              routerLink="/shop"
              routerLinkActive="active"
              data-bs-dismiss="offcanvas"
              >Shop</a
            >
          </li>
          <!-- Admin Links -->
          <ng-container *ngIf="currentUser?.isAdmin; else nonAdminLinks">
            <li>
              <a
                class="link-underline"
                routerLink="/admin/dashboard"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
                >Admin Dashboard</a
              >
            </li>
            <li>
              <a
                class="link-underline"
                data-bs-dismiss="offcanvas"
                (click)="onLogout()"
                >Logout</a
              >
            </li>
          </ng-container>

          <!-- Non-Admin (Regular User) Links -->
          <ng-template #nonAdminLinks>
            <ng-container *ngIf="currentUser; else guestLinks">
              <li class="nav-item">
                <a
                  class="link-underline"
                  routerLink="/profile"
                  routerLinkActive="active"
                  data-bs-dismiss="offcanvas"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="link-underline"
                  data-bs-dismiss="offcanvas"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ng-container>
          </ng-template>

          <!-- Guest Links -->
          <ng-template #guestLinks>
            <li class="nav-item">
              <a
                class="link-underline"
                routerLink="/login"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="link-underline"
                routerLink="/register"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
                >Register</a
              >
            </li>
          </ng-template>
        </ul>
        <!-- Personal Nav -->
        <ul
          class="navbar-nav flex-row gap-4 gap-lg-0 justify-content-center order-lg-3 order-1 mt-4 mt-lg-0 d-lg-none"
        >
          <li class="nav-item ms-lg-n4">
            <a
              class="nav-link"
              data-bs-dismiss="offcanvas"
              routerLink="/profile"
            >
              <mat-icon class="material-symbols-outlined"> person </mat-icon>
            </a>
          </li>
          <li class="nav-item ms-lg-n4">
            <a
              class="nav-link"
              routerLink="/profile/account-wishlist"
              routerLinkActive="active"
              data-bs-dismiss="offcanvas"
            >
              <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
            </a>
          </li>
          <li class="nav-item ms-lg-n4">
            <a
              class="nav-link"
              routerLinkActive="active"
              [matBadge]="totalItems"
              matBadgeSize="large"
              (click)="openCartModal()"
            >
              <mat-icon class="material-symbols-outlined">
                shopping_cart
              </mat-icon>
            </a>
          </li>
        </ul>
        <!-- Close -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <!-- Personal Nav -->
      <ul
        class="navbar-nav flex-row gap-4 gap-lg-0 justify-content-center order-lg-3 order-1"
      >
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" routerLink="/profile">
            <mat-icon class="material-symbols-outlined"> person </mat-icon>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a
            class="nav-link"
            routerLink="/profile/account-wishlist"
            routerLinkActive="active"
          >
            <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a
            class="nav-link"
            routerLinkActive="active"
            [matBadge]="totalItems"
            matBadgeSize="large"
            (click)="openCartModal()"
          >
            <mat-icon class="material-symbols-outlined">
              shopping_cart
            </mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<mat-progress-bar
  class="mat-mdc-progress-bar"
  mode="indeterminate"
  *ngIf="busyService.loading$ | async"
></mat-progress-bar>

<app-shopping-cart-modal
  *ngIf="isCartModalVisible"
  (close)="toggleCartModal()"
></app-shopping-cart-modal>
