header {
    position: relative;
    background-color: #efedf0 !important;
    padding: 0.5rem !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    z-index: 3;
}

.offcanvas.offcanvas-top {
    height: 18rem;
}

.navbar-brand {
    font-size: 1.75rem;
    margin-right: 1rem;
    padding-bottom: -.0625rem;
    padding-top: -.0625rem;
    white-space: nowrap;
    font-weight: 600;

}

.button-nav.active {
    background-color: #1f1f1f !important;
    border-color: #1f1f1f !important;
    color: #fff !important;
}

.mat-badge {
    position: relative
}

.mat-badge.mat-badge {
    overflow: visible
}

.mat-badge-content {
    position: absolute;
    width: 1.25rem !important;
    height: 1.25rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: var(--mat-badge-background-color, var(--mat-sys-error));
}

.btn-close {
    display: none;
}

@media (max-width: 990px) {
    .btn-close {
        display: block;
        padding: 2rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}