<header class="bg-dark text-white p-3">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- Home Link -->
      <a class="navbar-brand" routerLink="/home">Shopper.</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <ul class="navbar-nav mx-auto" *ngIf="!isLoading">
          <li>
            <a
              class="link-underline"
              routerLink="/home"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li>
            <a
              class="link-underline"
              routerLink="/shop"
              routerLinkActive="active"
              >Shop</a
            >
          </li>
          <!-- Admin Links -->
          <ng-container *ngIf="currentUser?.isAdmin; else nonAdminLinks">
            <li>
              <a
                class="link-underline"
                routerLink="/admin/dashboard"
                routerLinkActive="active"
                >Admin Dashboard</a
              >
            </li>
            <li>
              <a class="link-underline" (click)="onLogout()">Logout</a>
            </li>
          </ng-container>

          <!-- Non-Admin (Regular User) Links -->
          <ng-template #nonAdminLinks>
            <ng-container *ngIf="currentUser; else guestLinks">
              <li class="nav-item">
                <a
                  class="link-underline"
                  routerLink="/profile"
                  routerLinkActive="active"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a class="link-underline" (click)="onLogout()">Logout</a>
              </li>
            </ng-container>
          </ng-template>

          <!-- Guest Links -->
          <ng-template #guestLinks>
            <li class="nav-item">
              <a
                class="link-underline"
                routerLink="/login"
                routerLinkActive="active"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="link-underline"
                routerLink="/register"
                routerLinkActive="active"
                >Register</a
              >
            </li>
          </ng-template>
        </ul>

        <!-- Nav -->
        <ul class="navbar-nav flex-row">
          <li class="nav-item ms-lg-n4">
            <a class="nav-link" routerLink="/profile">
              <mat-icon class="material-symbols-outlined"> person </mat-icon>
            </a>
          </li>
          <li class="nav-item ms-lg-n4">
            <a
              class="nav-link"
              routerLink="/profile/account-wishlist"
              routerLinkActive="active"
            >
              <mat-icon class="material-symbols-outlined"> favorite </mat-icon>
            </a>
          </li>
          <li class="nav-item ms-lg-n4">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/shopping-cart"
              [matBadge]="totalItems"
              matBadgeSize="large"
            >
              <mat-icon class="material-symbols-outlined">
                shopping_cart
              </mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<mat-progress-bar
  mode="indeterminate"
  *ngIf="busyService.loading"
></mat-progress-bar>
