<section class="my-5 py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- PreHeading -->
          <h6 class="heading-xxs mb-3 text-center text-gray-400">
            Our blog
          </h6>

          <!-- Heading -->
          <h2 class="mb-5 text-center">Latest in Blog</h2>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">

          <!-- Card -->
          <div class="card mb-5 shadow shadow-hover lift">

            <!-- Image -->
            <a routerLink="/blogs/:id">
              <img src="https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="fashion" class="card-img-top">
            </a>

            <!-- Body -->
            <div class="card-body px-md-4 px-5 py-5">

              <!-- Time -->
              <p class="mb-3 fs-xs">
                <a class="text-muted">Fashion / Jun 20, 2024</a>
              </p>

              <!-- Heading -->
              <h6 class="mb-0">
                <a class="text-body" routerLink="/blogs/:id">
                  Us yielding Fish sea night night the said him two
                </a>
              </h6>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-4">

          <!-- Card -->
          <div class="card mb-5 shadow shadow-hover lift">

            <!-- Image -->
            <a routerLink="/blogs/:id">
              <img src="https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="travel" class="card-img-top">
            </a>

            <!-- Body -->
            <div class="card-body px-md-4 px-5 py-5">

              <!-- Time -->
              <p class="mb-3 fs-xs">
                <a class="text-muted">Travel / Jun 13, 2024</a>
              </p>

              <!-- Heading -->
              <h6 class="mb-0">
                <a class="text-body" routerLink="/blogs/:id">
                  Tree earth fowl given moveto deep lesser After
                </a>
              </h6>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-4">

          <!-- Card -->
          <div class="card mb-5 shadow shadow-hover lift">

            <!-- Image -->
            <a routerLink="/blogs/:id">
              <img src="https://images.pexels.com/photos/1144834/pexels-photo-1144834.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="lifestyle" class="card-img-top">
            </a>

            <!-- Body -->
            <div class="card-body px-md-4 px-5 py-5">

              <!-- Time -->
              <p class="mb-3 fs-xs">
                <a class="text-muted" routerLink="blog.html">Lifestyle / Jun 08, 2024</a>
              </p>

              <!-- Heading -->
              <h6 class="mb-0">
                <a class="text-body" routerLink="/blogs/:id">
                  Given Set was without from god divide rule Hath
                </a>
              </h6>

            </div>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Link -->
          <div class="mt-5 text-center">
            <a class="link-underline" routerLink="/blogs">Discover more</a>
          </div>

        </div>
      </div>
    </div>
  </section>