<!-- Order -->
<div
  *ngIf="loading"
  class="spinner-border text-primary d-block mt-5"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-8 d-flex justify-content-between align-items-center">
    <form
      #searchForm="ngForm"
      (ngSubmit)="onSearchSubmit()"
      class="d-flex flex-grow-1"
      role="search"
    >
      <input
        type="text"
        class="form-control me-2 rounded-0 p-3 border-black border-2"
        placeholder="Search by Order ID, Customer Name, or Product Name"
        title="Search by Order ID, Customer Name, or Product Name"
        [(ngModel)]="queryParams.searchTerm"
        name="keyword"
      />
      <button type="submit" class="btn btn-sm btn-outline-dark border-2 fs-5">
        Search
      </button>
    </form>
  </div>
  <div class="col-4 d-flex justify-content-end gap-2">
    <button
      class="btn btn-sm w-80 btn-outline-dark border-2"
      mat-stroked-button
      (click)="openFiltersDialog()"
      title="Filters"
    >
      <mat-icon>filter_list</mat-icon>
      <span class="visually-hidden">Filters</span>
    </button>
    <button
      mat-stroked-button
      class="btn btn-sm w-80 btn-outline-dark border-2"
      title="Sort"
      [matMenuTriggerFor]="sortMenu"
    >
      <mat-icon>swap_vert</mat-icon>
      <span class="visually-hidden">Sort</span>
    </button>
  </div>
</div>

<div class="orders-list">
  <ng-container *ngIf="orders.length > 0 && !loading; else noOrders">
    <div class="card card-lg my-4 border" *ngFor="let order of orders">
      <div class="card-body pb-0">
        <!-- Info -->
        <div class="card card-sm">
          <div class="card-body bg-light">
            <div class="row">
              <div class="col-6 col-lg-3">
                <!-- Heading -->
                <h6 class="heading-xxxs text-muted">Order No:</h6>

                <!-- Text -->
                <p class="mb-lg-0 fs-sm fw-bold" matTooltip="{{ order?._id }}">
                  ...{{ order._id.slice(-5) }}
                </p>
              </div>
              <div class="col-6 col-lg-3">
                <!-- Heading -->
                <h6 class="heading-xxxs text-muted">Order date:</h6>

                <!-- Text -->
                <p class="mb-lg-0 fs-sm fw-bold">
                  <time [attr.datetime]="order?.createdAt">
                    {{
                      order?.createdAt | formatDate : "dd MMM, yyyy" : "en-US"
                    }}
                  </time>
                </p>
              </div>
              <div class="col-6 col-lg-3">
                <!-- Heading -->
                <h6 class="heading-xxxs text-muted">Status:</h6>

                <!-- Text -->
                <p class="mb-0 fs-sm fw-bold">{{ order.paymentStatus }}</p>
              </div>
              <div class="col-6 col-lg-3">
                <!-- Heading -->
                <h6 class="heading-xxxs text-muted">Order Amount:</h6>

                <!-- Text -->
                <p class="mb-0 fs-sm fw-bold">
                  {{ order.totalPrice | currency }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <div class="row gx-5">
              <div class="col-6">
                <!-- Button -->
                <a
                  class="btn btn-sm w-100 btn-outline-dark"
                  [routerLink]="['/admin', 'order-details', order._id]"
                >
                  Order Details
                </a>
              </div>
              <div class="col-6">
                <!-- Button -->
                <a class="btn btn-sm w-100 btn-outline-dark" href="#!">
                  Track order
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <mat-paginator
    *ngIf="!loading"
    class="paginator border-2"
    (page)="handlePageEvent($event)"
    [length]="totalOrders"
    [pageSize]="queryParams.limit"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 20, 30]"
    [pageIndex]="currentPage - 1"
    aria-label="Select page"
  ></mat-paginator>
</div>

<!-- If no orders are found -->
<ng-template #noOrders>
  <div class="text-start my-5 pt-4" *ngIf="!loading">
    <ng-container *ngIf="isSearchActive; else noOrdersDefault">
      <!-- Search-specific no orders message -->
      <h4>No Orders Found!</h4>
      <p class="text-muted">No orders match your search criteria.</p>
      <button class="btn btn-sm btn-outline-dark" (click)="onSearchSubmit()">
        Try Again
      </button>
    </ng-container>
    <!-- Default no orders message -->
    <ng-template #noOrdersDefault>
      <h4>No Orders yet!</h4>
      <p class="text-muted">
        You haven't added any orders to your account yet.
      </p>
      <a routerLink="/shop" class="btn btn-sm btn-outline-dark"
        >Start Shopping</a
      >
    </ng-template>
  </div>
</ng-template>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="queryParams.sort === sort.value"
      >{{ sort.name }}</mat-list-option
    >
    }
  </mat-selection-list>
</mat-menu>
