.card {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform .2s;
  border-radius: 0 !important;
}

.card-img {
  display: flex;
  height: 18rem !important;
}

.card-img a {
  width: 100%;
  height: 100%;
}

.card-img,
.card-img-top {
  border-radius: 0 !important;
}

.card-img-top {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 10px 10px;
}

.card-img-hover {
  display: block !important;
}

.card-actions {
  bottom: 6rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.25rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.card-actions .card-action {
  left: 0;
  opacity: 0;
  position: relative;
  right: 0;
  top: 0;
  transform: translateY(.5rem);
  transition: all .1s ease-in-out;
  transition-property: transform, opacity;
}

.card-action {
  position: absolute;
  top: 1.25rem;
  z-index: 100;
}

.card-img:hover .card-actions .card-action {
  opacity: 1;
  transform: translateY(0);
}

.btn-circle {
  align-items: center;
  border-radius: 50% !important;
  display: inline-flex !important;
  justify-content: center;
  padding: 0 !important;
  width: calc(3.25rem + 2px);
}

.btn-circle.btn-xs {
  width: calc(2.40625rem + 2px);
}

.btn-xs {
  height: calc(2.40625rem + 3px) !important;
  padding: .5rem .75rem;
}

.btn-xs span {
  display: flex;
}

.btn-white-primary {
  background-color: #fff;
  color: #1f1f1f;
}

.btn-white-primary:hover,
.btn.active {
  background-color: #ff6f61;
  border-color: #ff6f61;
  color: #fff;
}