@if (product) {
<div class="card">
  <div class="media" routerLink="/product/{{ product._id }}">
    <img
      src="{{ product.images }}"
      class="card-img-top"
      alt="{{ product.name }}"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{ product.brand }}
    </p>
    <p class="card-text">
      {{ product.category.name }}
    </p>
    <p class="card-text">
      {{ product.gender }}
    </p>
    <p>{{ product.price | currency }}</p>
    <a routerLink="/product/{{ product._id }}" class="button-35">Add to cart</a>
  </div>
</div>
}
