@if (product) {
<div class="card">
  <!-- Image -->
  <div class="card-img">
    <!-- Image -->
    <a
      class="card-img-hover"
      routerLink="/product/{{ product._id }}"
    >
      <img
        class="card-img-top card-img-back"
        src="{{ product.images[0] }}"
        alt="{{ product.name }}"
      />
    </a>

    <!-- Actions -->
    <div class="card-actions">
      <span class="card-action">
        <button class="btn btn-xs btn-circle btn-white-primary">
          <span
            [routerLink]="['/product', product._id]"
            class="material-symbols-outlined"
          >
            <mat-icon>visibility</mat-icon>
          </span>
        </button>
      </span>
      <span class="card-action">
        <button
          class="btn btn-xs btn-circle btn-white-primary"
          (click)="addToCart()"
        >
          <span class="material-symbols-outlined">
            <mat-icon>shopping_cart</mat-icon>
          </span>
        </button>
      </span>
      <span class="card-action">
        <button
          class="btn btn-xs btn-circle btn-white-primary"
          [class.active]="isFavorite(product._id)"
          (click)="toggleFavorite(product._id)"
        >
          <span class="material-symbols-outlined">
            <mat-icon>favorite</mat-icon>
          </span>
        </button>
      </span>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body p-2">
    <!-- Category -->
    <div class="fs-xs">
      <a class="text-muted" routerLink="/shop">{{ product.category.name }}</a>
    </div>

    <!-- Title -->
    <div class="fw-bold">
      <a class="text-body" [routerLink]="['/product', product._id]">
        {{ product.name }}
      </a>
    </div>

    <!-- Price -->
    <div class="fw-bold text-muted">
      {{ product.price | currency }}
    </div>
  </div>
</div>
}
