<app-header></app-header>

<main class="content p-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-5">Admin</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <!-- Nav -->
        <nav class="mb-5 mb-md-0">
          <div
            class="list-group list-group-sm list-group-strong list-group-flush-x"
          >
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              routerLink="/admin/dashboard"
              routerLinkActive="active"
            >
              Dashboard
            </a>
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              routerLink="/admin/categories"
              routerLinkActive="active"
            >
              Categories
            </a>
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              routerLink="/admin/products"
              routerLinkActive="active"
            >
              Products
            </a>
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              routerLink="/admin/user-lists"
              routerLinkActive="active"
            >
              Users List
            </a>
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              routerLink="/admin/orders"
              routerLinkActive="active"
            >
              Orders
            </a>
            <a
              class="list-group-item list-group-item-action dropend-toggle"
              (click)="onLogout()"
            >
              Logout
            </a>
          </div>
        </nav>
      </div>
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
