.sidebar {
    width: 200px;
    height: 90%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    background-color: beige !important;
}

.content {
    margin-left: 200px;
    padding-top: 100px !important;
    height: 90%;
    /* For header height */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}