<app-header></app-header>

<main class="content p-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-5">Admin</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <!-- Nav -->
        <nav class="mb-5 mb-md-0">
          <!-- Mobile Menu Button with Selected Item -->
          <div
            class="d-flex align-items-center justify-content-between d-md-none"
          >
            <button
              class="btn btn-outline-dark d-md-none mb-2 me-2"
              type="button"
              (click)="toggleMenu()"
            >
              <mat-icon class="material-symbols-outlined"> menu </mat-icon>
              Menu
            </button>
            <span *ngIf="selectedItem" class="fw-bold">{{ selectedItem }}</span>
          </div>
          <div [class.collapse]="!isMenuOpen" class="d-md-block">
            <div
              class="list-group list-group-sm list-group-strong list-group-flush-x"
            >
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="/admin/dashboard"
                routerLinkActive="active"
                (click)="selectMenuItem('Dashboard')"
              >
                Dashboard
              </a>
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="/admin/categories"
                routerLinkActive="active"
                (click)="selectMenuItem('Categories')"
              >
                Categories
              </a>
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="/admin/products"
                routerLinkActive="active"
                (click)="selectMenuItem('Products')"
              >
                Products
              </a>
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="/admin/user-lists"
                routerLinkActive="active"
                (click)="selectMenuItem('Users List')"
              >
                Users List
              </a>
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                routerLink="/admin/orders"
                routerLinkActive="active"
                (click)="selectMenuItem('Orders')"
              >
                Orders
              </a>
              <a
                class="list-group-item list-group-item-action dropend-toggle"
                (click)="onLogout()"
              >
                Logout
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
